@import "tailwindcss";
html,
body {
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Gilroy", sans-serif;
}
.herotext {
  font-family: "Manrope", sans-serif;
}

/* GLOBAL MOBILE SAFETY */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
